{% extends 'base.html.twig' %}

{% block title %}Hello home!{% endblock %}

{% block body %}    
    <h1>Bvn</h1>

    <p>Minim labore amet labore elit occaecat. Eu sit ipsum veniam est dolore non dolor qui. Sit laboris ex proident cillum mollit qui irure proident veniam. Cillum tempor id reprehenderit excepteur Lorem in non. Dolor ea exercitation anim irure anim est anim ullamco.</p>
{% endblock %}
